In [56]:
import pandas as pd
import numpy as np

In [57]:
main_df = pd.read_csv('./GLORIA_meta_and_lab.csv')

In [58]:
main_df

,GLORIA_ID,Organization_ID,Dataset_ID,Sample_ID,LIMNADES_ID,LIMNADES_UID,SeaBASS_ID,Data_collection_purpose,Special_event_flag,Site_name,...,TSS_method,aCDOM_method,Chla,Chla_plus_phaeo,TSS,aCDOM440,Turbidity,Secchi_depth,AOT,Comments
0,GID_1,UT-TO,AlikasK_EE_UT-TO,53,NaN,NaN,NaN,3.0,NaN,Lake Peipsi,...,ESS Method 340.2,NASA TM 2003-211621,NaN,8.16,2.67,2.532844,NaN,1.85,NaN,Lake Peipsi
1,GID_2,UT-TO,AlikasK_EE_UT-TO,54,NaN,NaN,NaN,3.0,NaN,Lake Peipsi,...,ESS Method 340.2,NASA TM 2003-211621,NaN,8.60,5.67,2.624947,NaN,1.80,NaN,Lake Peipsi
2,GID_3,UT-TO,AlikasK_EE_UT-TO,55,NaN,NaN,NaN,3.0,NaN,Lake Peipsi,...,ESS Method 340.2,NASA TM 2003-211621,NaN,7.27,8.00,2.578895,NaN,1.80,NaN,Lake Peipsi
3,GID_4,UT-TO,AlikasK_EE_UT-TO,56,NaN,NaN,NaN,3.0,NaN,Lake Peipsi,...,ESS Method 340.2,NASA TM 2003-211621,NaN,7.30,7.00,3.085464,NaN,1.15,NaN,Lake Peipsi
4,GID_5,UT-TO,AlikasK_EE_UT-TO,57,NaN,NaN,NaN,3.0,NaN,Lake Peipsi,...,ESS Method 340.2,NASA TM 2003-211621,NaN,13.05,8.67,3.039412,NaN,1.00,NaN,Lake Peipsi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7567,GID_7769,UiB,KristoffersenA_NO_UiB,L1,NaN,NaN,NaN,2.0,NaN,Lurefjorden,...,UiB TSS,UiB CDOM,3.957,NaN,13.35,0.348420,NaN,7.50,NaN,Threshold marine inland fjord
7568,GID_7770,UiB,KristoffersenA_NO_UiB,L2,NaN,NaN,NaN,2.0,NaN,Lurefjorden,...,UiB TSS,UiB CDOM,4.400,NaN,18.67,0.228306,NaN,8.30,NaN,CDOM are salinity corrected
7569,GID_7771,UiB,KristoffersenA_NO_UiB,L3,NaN,NaN,NaN,2.0,NaN,Lurefjorden,...,UiB TSS,UiB CDOM,3.643,NaN,10.80,0.310476,NaN,7.70,NaN,NaN
7570,GID_7772,UiB,KristoffersenA_NO_UiB,L4,NaN,NaN,NaN,2.0,2.0,Lurefjorden,...,UiB TSS,UiB CDOM,4.353,NaN,11.06,0.345544,NaN,7.60,NaN,Special_event_flag: rain for last two stations...
7571,GID_7773,UiB,KristoffersenA_NO_UiB,L5,NaN,NaN,NaN,2.0,2.0,Lurefjorden,...,UiB TSS,UiB CDOM,8.514,NaN,8.56,0.723857,NaN,6.70,NaN,NaN

In [60]:
# All the lakes with most of the datapoints
site_names = main_df.Site_name.value_counts()[:12]
site_names

Site_name
Lake Erie             611
Gulf of Mexico, FL    535
Lake Geneva           314
IJsselmeer            268
Guiana                254
Gulf of Mexico        221
Taihu                 197
English Channel       196
Garda                 193
Lake Kasumigaura      188
Chesapeake Bay, MD    149
Atlantic Ocean, GA    137
Name: count, dtype: int64

In [61]:
# All the columns present in 'main_df'
main_df.columns

Index(['GLORIA_ID', 'Organization_ID', 'Dataset_ID', 'Sample_ID',
       'LIMNADES_ID', 'LIMNADES_UID', 'SeaBASS_ID', 'Data_collection_purpose',
       'Special_event_flag', 'Site_name', 'Country', 'Country_code',
       'Latitude', 'Longitude', 'Date_Time_UTC', 'Water_body_type',
       'Water_type', 'Elevation_asl', 'Wave_height', 'Wind_speed',
       'Cloud_fraction', 'Depth', 'Platform', 'Distance_from_platform',
       'Platform_length', 'Platform_height', 'Distance_to_shore', 'Landcover',
       'Topography', 'Distance_to_river_discharge',
       'Optical_stability_of_water', 'Rain_event_hour',
       'Instrument_manufacturer', 'Instrument_model', 'Last_calibration',
       'Measurement_method', 'Lt_nadir', 'Lt_relative_azimuth', 'Lsky_zenith',
       'Lsky_relative_azimuth', 'Spectral_resolution', 'Number_of_radiometers',
       'Field_of_view_Lt_radiometer', 'Field_of_view_Lu_radiometer',
       'Skyglint_removal', 'Bias_removal_in_NIR', 'Self_shading_correction',
       'Viewing_angle_correction', 'Additional_data_corrections',
       'Availability_of_IOPs', 'Sample_depth', 'Water_collection_equipment',
       'Chl_method', 'Phaeophytin_correction', 'TSS_method', 'aCDOM_method',
       'Chla', 'Chla_plus_phaeo', 'TSS', 'aCDOM440', 'Turbidity',
       'Secchi_depth', 'AOT', 'Comments'],
      dtype='object')

In [62]:
# Variable containing names of all the important columns from 'main_df'
req_columns = ['Site_name','Country','Country_code','Latitude','Longitude','Date_Time_UTC','Water_body_type','Water_type','Depth','Chla','TSS','Turbidity','Secchi_depth','Chla_plus_phaeo','aCDOM440']

In [63]:
# Removed all the unnecessary columns
main_df = main_df[req_columns]
main_df

,Site_name,Country,Country_code,Latitude,Longitude,Date_Time_UTC,Water_body_type,Water_type,Depth,Chla,TSS,Turbidity,Secchi_depth,Chla_plus_phaeo,aCDOM440
0,Lake Peipsi,Estonia,EE,58.49994,27.28475,2013-07-08T08:27,1,4.0,NaN,NaN,2.67,NaN,1.85,8.16,2.532844
1,Lake Peipsi,Estonia,EE,58.46504,27.28390,2013-07-08T09:37,1,4.0,NaN,NaN,5.67,NaN,1.80,8.60,2.624947
2,Lake Peipsi,Estonia,EE,58.44592,27.28435,2013-07-08T10:04,1,4.0,NaN,NaN,8.00,NaN,1.80,7.27,2.578895
3,Lake Peipsi,Estonia,EE,58.42464,27.28336,2013-07-08T10:26,1,4.0,NaN,NaN,7.00,NaN,1.15,7.30,3.085464
4,Lake Peipsi,Estonia,EE,58.39979,27.28791,2013-07-08T10:50,1,4.0,NaN,NaN,8.67,NaN,1.00,13.05,3.039412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7567,Lurefjorden,Norway,NO,60.68077,5.17306,2022-06-21T09:00,5,3.0,400.0,3.957,13.35,NaN,7.50,NaN,0.348420
7568,Lurefjorden,Norway,NO,60.69524,5.13830,2022-06-21T10:00,5,3.0,391.0,4.400,18.67,NaN,8.30,NaN,0.228306
7569,Lurefjorden,Norway,NO,60.71820,5.06772,2022-06-21T11:00,5,3.0,147.0,3.643,10.80,NaN,7.70,NaN,0.310476
7570,Lurefjorden,Norway,NO,60.68660,5.11013,2022-06-21T12:00,5,3.0,80.0,4.353,11.06,NaN,7.60,NaN,0.345544
7571,Lurefjorden,Norway,NO,60.55992,5.23085,2022-06-21T14:00,5,3.0,200.0,8.514,8.56,NaN,6.70,NaN,0.723857

In [64]:
# Dropped all the rows from 'main_df' which
site_names_list = site_names.index.tolist()
main_df = main_df[main_df['Site_name'].isin(site_names_list)]
main_df

,Site_name,Country,Country_code,Latitude,Longitude,Date_Time_UTC,Water_body_type,Water_type,Depth,Chla,TSS,Turbidity,Secchi_depth,Chla_plus_phaeo,aCDOM440
476,Lake Erie,Canada,CA,41.697778,-83.494167,2013-08-13T13:45,1,2.0,8.60,21.10,32.00,NaN,0.20,37.7,2.446889
477,Lake Erie,Canada,CA,41.736333,-83.372667,2013-08-13T14:50,1,2.0,7.20,7.80,13.76,NaN,0.50,9.0,1.827051
478,Lake Erie,Canada,CA,41.754000,-83.209667,2013-08-13T16:05,1,2.0,7.43,4.20,2.66,NaN,1.50,4.9,0.261512
479,Lake Erie,Canada,CA,41.671667,-83.170167,2013-08-13T17:05,1,2.0,6.20,5.00,3.61,NaN,2.00,4.8,0.367269
480,Lake Erie,Canada,CA,41.718500,-83.035333,2013-08-13T18:15,1,2.0,8.60,3.50,5.38,NaN,2.60,4.1,0.238960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7157,Lake Erie,United States of America (the),US,41.705300,-83.385900,2019-10-07T15:33,1,4.0,2.94,5.46,10.34,9.79,1.00,NaN,NaN
7158,Lake Erie,United States of America (the),US,41.717600,-83.423600,2019-10-07T15:53,1,4.0,2.79,22.88,29.64,26.10,0.25,NaN,NaN
7159,Lake Erie,United States of America (the),US,41.702300,-83.263900,2019-10-07T14:39,1,4.0,6.66,22.88,13.20,10.60,1.25,NaN,NaN
7160,Lake Erie,United States of America (the),US,41.742800,-83.135400,2019-10-07T13:25,1,4.0,9.07,19.70,6.47,3.66,1.25,NaN,NaN
7161,Lake Erie,United States of America (the),US,41.659900,-83.146700,2019-10-07T13:59,1,4.0,6.05,6.29,9.72,9.96,1.00,NaN,NaN

In [66]:
# Converting column 'Date_Time_UTC' to 'Date' and 'Time'
main_df['Date'] = pd.to_datetime(main_df['Date_Time_UTC'], format='ISO8601', errors='coerce').dt.date
main_df['Time'] = pd.to_datetime(main_df['Date_Time_UTC'], format='ISO8601', errors='coerce').dt.time
main_df

<ipython-input-66-04df111deacc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_df['Date'] = pd.to_datetime(main_df['Date_Time_UTC'], format='ISO8601', errors='coerce').dt.date
<ipython-input-66-04df111deacc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_df['Time'] = pd.to_datetime(main_df['Date_Time_UTC'], format='ISO8601', errors='coerce').dt.time

,Site_name,Country,Country_code,Latitude,Longitude,Date_Time_UTC,Water_body_type,Water_type,Depth,Chla,TSS,Turbidity,Secchi_depth,Chla_plus_phaeo,aCDOM440,Date,Time
476,Lake Erie,Canada,CA,41.697778,-83.494167,2013-08-13T13:45,1,2.0,8.60,21.10,32.00,NaN,0.20,37.7,2.446889,2013-08-13,13:45:00
477,Lake Erie,Canada,CA,41.736333,-83.372667,2013-08-13T14:50,1,2.0,7.20,7.80,13.76,NaN,0.50,9.0,1.827051,2013-08-13,14:50:00
478,Lake Erie,Canada,CA,41.754000,-83.209667,2013-08-13T16:05,1,2.0,7.43,4.20,2.66,NaN,1.50,4.9,0.261512,2013-08-13,16:05:00
479,Lake Erie,Canada,CA,41.671667,-83.170167,2013-08-13T17:05,1,2.0,6.20,5.00,3.61,NaN,2.00,4.8,0.367269,2013-08-13,17:05:00
480,Lake Erie,Canada,CA,41.718500,-83.035333,2013-08-13T18:15,1,2.0,8.60,3.50,5.38,NaN,2.60,4.1,0.238960,2013-08-13,18:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7157,Lake Erie,United States of America (the),US,41.705300,-83.385900,2019-10-07T15:33,1,4.0,2.94,5.46,10.34,9.79,1.00,NaN,NaN,2019-10-07,15:33:00
7158,Lake Erie,United States of America (the),US,41.717600,-83.423600,2019-10-07T15:53,1,4.0,2.79,22.88,29.64,26.10,0.25,NaN,NaN,2019-10-07,15:53:00
7159,Lake Erie,United States of America (the),US,41.702300,-83.263900,2019-10-07T14:39,1,4.0,6.66,22.88,13.20,10.60,1.25,NaN,NaN,2019-10-07,14:39:00
7160,Lake Erie,United States of America (the),US,41.742800,-83.135400,2019-10-07T13:25,1,4.0,9.07,19.70,6.47,3.66,1.25,NaN,NaN,2019-10-07,13:25:00
7161,Lake Erie,United States of America (the),US,41.659900,-83.146700,2019-10-07T13:59,1,4.0,6.05,6.29,9.72,9.96,1.00,NaN,NaN,2019-10-07,13:59:00

In [67]:
site_names_list

['Lake Erie',
 'Gulf of Mexico, FL',
 'Lake Geneva',
 'IJsselmeer',
 'Guiana',
 'Gulf of Mexico',
 'Taihu',
 'English Channel',
 'Garda',
 'Lake Kasumigaura',
 'Chesapeake Bay, MD',
 'Atlantic Ocean, GA']

In [68]:
# Generating dataframes for all the major 'Site_names' in 'main_df'
def dataframe_generator(main_df,site_names_list):
  site_dict = {}
  for site in site_names_list:
    site_dict[site] = main_df[main_df['Site_name'] == site]
  return site_dict

In [69]:
site_dict = dataframe_generator(main_df,site_names_list)

In [72]:
site_dict.keys()

dict_keys(['Lake Erie', 'Gulf of Mexico, FL', 'Lake Geneva', 'IJsselmeer', 'Guiana', 'Gulf of Mexico', 'Taihu', 'English Channel', 'Garda', 'Lake Kasumigaura', 'Chesapeake Bay, MD', 'Atlantic Ocean, GA'])

In [75]:
# Separate dataframe for each lake
Erie_df = site_dict['Lake Erie']
Gulf_of_Mexico_FL_df = site_dict['Gulf of Mexico, FL']
Geneva_df = site_dict['Lake Geneva']
IJsselmeer_df = site_dict['IJsselmeer']
Guiana_df = site_dict['Guiana']
Gulf_of_Mexico = site_dict['Gulf of Mexico']
Taihu_df = site_dict['Taihu']
English_Channel_df = site_dict['English Channel']
Garda_df = site_dict['Garda']
Kasumigaura_df = site_dict['Lake Kasumigaura']
Chesapeake_Bay_df = site_dict['Chesapeake Bay, MD']
Atlantic_Ocean_df = site_dict['Atlantic Ocean, GA']

In [76]:
final_df = pd.concat([Erie_df, Gulf_of_Mexico_FL_df, Geneva_df, IJsselmeer_df,
                       Guiana_df, Gulf_of_Mexico, Taihu_df, English_Channel_df,
                       Garda_df, Kasumigaura_df, Chesapeake_Bay_df, Atlantic_Ocean_df],
                      ignore_index=True)

In [78]:
final_df.head(1)

,Site_name,Country,Country_code,Latitude,Longitude,Date_Time_UTC,Water_body_type,Water_type,Depth,Chla,TSS,Turbidity,Secchi_depth,Chla_plus_phaeo,aCDOM440,Date,Time
0,Lake Erie,Canada,CA,41.697778,-83.494167,2013-08-13T13:45,1,2.0,8.6,21.1,32.0,NaN,0.2,37.7,2.446889,2013-08-13,13:45:00

In [79]:
Lake_df_list = [Erie_df, Gulf_of_Mexico_FL_df, Geneva_df, IJsselmeer_df,
                       Guiana_df, Gulf_of_Mexico, Taihu_df, English_Channel_df,
                       Garda_df, Kasumigaura_df, Chesapeake_Bay_df, Atlantic_Ocean_df]

In [85]:
for df in Lake_df_list:
  print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 611 entries, 476 to 7161
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        611 non-null    object
 1   Country          611 non-null    object
 2   Country_code     611 non-null    object
 3   Latitude         566 non-null    float64
 4   Longitude        566 non-null    float64
 5   Date_Time_UTC    611 non-null    object
 6   Water_body_type  611 non-null    int64
 7   Water_type       564 non-null    float64
 8   Depth            535 non-null    float64
 9   Chla             584 non-null    float64
 10  TSS              550 non-null    float64
 11  Turbidity        466 non-null    float64
 12  Secchi_depth     543 non-null    float64
 13  Chla_plus_phaeo  49 non-null     float64
 14  aCDOM440         92 non-null     float64
 15  Date             611 non-null    object
 16  Time             611 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 102.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 535 entries, 5006 to 6181
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        535 non-null    object
 1   Country          535 non-null    object
 2   Country_code     535 non-null    object
 3   Latitude         535 non-null    float64
 4   Longitude        535 non-null    float64
 5   Date_Time_UTC    535 non-null    object
 6   Water_body_type  535 non-null    int64
 7   Water_type       0 non-null      float64
 8   Depth            535 non-null    float64
 9   Chla             456 non-null    float64
 10  TSS              0 non-null      float64
 11  Turbidity        0 non-null      float64
 12  Secchi_depth     44 non-null     float64
 13  Chla_plus_phaeo  0 non-null      float64
 14  aCDOM440         465 non-null    float64
 15  Date             535 non-null    object
 16  Time             535 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 75.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 314 entries, 3489 to 6505
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        314 non-null    object
 1   Country          314 non-null    object
 2   Country_code     314 non-null    object
 3   Latitude         314 non-null    float64
 4   Longitude        314 non-null    float64
 5   Date_Time_UTC    314 non-null    object
 6   Water_body_type  314 non-null    int64
 7   Water_type       290 non-null    float64
 8   Depth            299 non-null    float64
 9   Chla             314 non-null    float64
 10  TSS              20 non-null     float64
 11  Turbidity        0 non-null      float64
 12  Secchi_depth     305 non-null    float64
 13  Chla_plus_phaeo  0 non-null      float64
 14  aCDOM440         15 non-null     float64
 15  Date             314 non-null    object
 16  Time             314 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 44.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 268 entries, 6196 to 6463
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        268 non-null    object
 1   Country          268 non-null    object
 2   Country_code     268 non-null    object
 3   Latitude         268 non-null    float64
 4   Longitude        268 non-null    float64
 5   Date_Time_UTC    268 non-null    object
 6   Water_body_type  268 non-null    int64
 7   Water_type       268 non-null    float64
 8   Depth            0 non-null      float64
 9   Chla             185 non-null    float64
 10  TSS              0 non-null      float64
 11  Turbidity        0 non-null      float64
 12  Secchi_depth     0 non-null      float64
 13  Chla_plus_phaeo  0 non-null      float64
 14  aCDOM440         60 non-null     float64
 15  Date             268 non-null    object
 16  Time             268 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 37.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 254 entries, 1669 to 2205
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        254 non-null    object
 1   Country          254 non-null    object
 2   Country_code     254 non-null    object
 3   Latitude         213 non-null    float64
 4   Longitude        213 non-null    float64
 5   Date_Time_UTC    254 non-null    object
 6   Water_body_type  254 non-null    int64
 7   Water_type       241 non-null    float64
 8   Depth            137 non-null    float64
 9   Chla             162 non-null    float64
 10  TSS              230 non-null    float64
 11  Turbidity        63 non-null     float64
 12  Secchi_depth     0 non-null      float64
 13  Chla_plus_phaeo  0 non-null      float64
 14  aCDOM440         215 non-null    float64
 15  Date             254 non-null    object
 16  Time             254 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 35.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 221 entries, 5254 to 5910
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        221 non-null    object
 1   Country          221 non-null    object
 2   Country_code     221 non-null    object
 3   Latitude         221 non-null    float64
 4   Longitude        221 non-null    float64
 5   Date_Time_UTC    221 non-null    object
 6   Water_body_type  221 non-null    int64
 7   Water_type       0 non-null      float64
 8   Depth            221 non-null    float64
 9   Chla             92 non-null     float64
 10  TSS              0 non-null      float64
 11  Turbidity        0 non-null      float64
 12  Secchi_depth     56 non-null     float64
 13  Chla_plus_phaeo  0 non-null      float64
 14  aCDOM440         0 non-null      float64
 15  Date             221 non-null    object
 16  Time             221 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 31.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 197 entries, 2727 to 2923
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        197 non-null    object
 1   Country          197 non-null    object
 2   Country_code     197 non-null    object
 3   Latitude         197 non-null    float64
 4   Longitude        197 non-null    float64
 5   Date_Time_UTC    197 non-null    object
 6   Water_body_type  197 non-null    int64
 7   Water_type       197 non-null    float64
 8   Depth            0 non-null      float64
 9   Chla             197 non-null    float64
 10  TSS              195 non-null    float64
 11  Turbidity        0 non-null      float64
 12  Secchi_depth     195 non-null    float64
 13  Chla_plus_phaeo  0 non-null      float64
 14  aCDOM440         197 non-null    float64
 15  Date             196 non-null    object
 16  Time             196 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 27.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 196 entries, 1560 to 2240
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        196 non-null    object
 1   Country          196 non-null    object
 2   Country_code     196 non-null    object
 3   Latitude         196 non-null    float64
 4   Longitude        196 non-null    float64
 5   Date_Time_UTC    196 non-null    object
 6   Water_body_type  196 non-null    int64
 7   Water_type       191 non-null    float64
 8   Depth            177 non-null    float64
 9   Chla             123 non-null    float64
 10  TSS              112 non-null    float64
 11  Turbidity        57 non-null     float64
 12  Secchi_depth     0 non-null      float64
 13  Chla_plus_phaeo  0 non-null      float64
 14  aCDOM440         169 non-null    float64
 15  Date             196 non-null    object
 16  Time             196 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 27.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 193 entries, 834 to 1117
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        193 non-null    object
 1   Country          193 non-null    object
 2   Country_code     193 non-null    object
 3   Latitude         193 non-null    float64
 4   Longitude        193 non-null    float64
 5   Date_Time_UTC    193 non-null    object
 6   Water_body_type  193 non-null    int64
 7   Water_type       193 non-null    float64
 8   Depth            0 non-null      float64
 9   Chla             50 non-null     float64
 10  TSS              45 non-null     float64
 11  Turbidity        0 non-null      float64
 12  Secchi_depth     0 non-null      float64
 13  Chla_plus_phaeo  0 non-null      float64
 14  aCDOM440         45 non-null     float64
 15  Date             193 non-null    object
 16  Time             193 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 27.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 188 entries, 2976 to 4276
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        188 non-null    object
 1   Country          188 non-null    object
 2   Country_code     188 non-null    object
 3   Latitude         188 non-null    float64
 4   Longitude        188 non-null    float64
 5   Date_Time_UTC    188 non-null    object
 6   Water_body_type  188 non-null    int64
 7   Water_type       188 non-null    float64
 8   Depth            68 non-null     float64
 9   Chla             120 non-null    float64
 10  TSS              188 non-null    float64
 11  Turbidity        0 non-null      float64
 12  Secchi_depth     101 non-null    float64
 13  Chla_plus_phaeo  68 non-null     float64
 14  aCDOM440         89 non-null     float64
 15  Date             188 non-null    object
 16  Time             188 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 26.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, 3844 to 5456
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        149 non-null    object
 1   Country          149 non-null    object
 2   Country_code     149 non-null    object
 3   Latitude         149 non-null    float64
 4   Longitude        149 non-null    float64
 5   Date_Time_UTC    149 non-null    object
 6   Water_body_type  149 non-null    int64
 7   Water_type       11 non-null     float64
 8   Depth            129 non-null    float64
 9   Chla             138 non-null    float64
 10  TSS              10 non-null     float64
 11  Turbidity        0 non-null      float64
 12  Secchi_depth     11 non-null     float64
 13  Chla_plus_phaeo  11 non-null     float64
 14  aCDOM440         125 non-null    float64
 15  Date             149 non-null    object
 16  Time             149 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 21.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 137 entries, 4426 to 4683
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Site_name        137 non-null    object
 1   Country          137 non-null    object
 2   Country_code     137 non-null    object
 3   Latitude         137 non-null    float64
 4   Longitude        137 non-null    float64
 5   Date_Time_UTC    137 non-null    object
 6   Water_body_type  137 non-null    int64
 7   Water_type       137 non-null    float64
 8   Depth            133 non-null    float64
 9   Chla             0 non-null      float64
 10  TSS              137 non-null    float64
 11  Turbidity        0 non-null      float64
 12  Secchi_depth     49 non-null     float64
 13  Chla_plus_phaeo  137 non-null    float64
 14  aCDOM440         112 non-null    float64
 15  Date             137 non-null    object
 16  Time             137 non-null    object
dtypes: float64(10), int64(1), object(6)
memory usage: 19.3+ KB
None

In [86]:
final_df.to_csv('Final_Dataset.csv')