In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data\Gemstat_Data_Cleaned\Chl-a\Cluster_393.csv')

<>:1: SyntaxWarning: invalid escape sequence '\G'
<>:1: SyntaxWarning: invalid escape sequence '\G'
C:\Users\sujal\AppData\Local\Temp\ipykernel_8856\304821443.py:1: SyntaxWarning: invalid escape sequence '\G'
  df = pd.read_csv('data\Gemstat_Data_Cleaned\Chl-a\Cluster_393.csv')

In [3]:
df.head()

,Station,Date,Time,Alk-Tot,Chl-a,Cl-Tot,DRP,EC,H-T,NH4N,...,TON,TRP,Ca-Dis,Fe-Dis,Mg-Dis,Na-Dis,Pb-Dis,SO4-Dis,Zn-Dis,Cluster
0,MEX01354,2015-06-10,NaN,NaN,0.0226,NaN,NaN,1017.0,NaN,NaN,...,11.200,0.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
1,MEX01354,2015-10-27,NaN,NaN,0.1115,NaN,NaN,963.0,NaN,NaN,...,2.070,0.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
2,MEX01354,2016-06-07,NaN,NaN,0.0246,NaN,NaN,1083.0,NaN,NaN,...,2.164,0.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
3,MEX01354,2016-10-04,NaN,NaN,0.0081,NaN,NaN,1010.0,NaN,NaN,...,5.275,0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
4,MEX01354,2017-03-02,NaN,NaN,0.0154,NaN,NaN,1044.0,NaN,NaN,...,2.158,0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393

In [8]:
import pandas as pd



# Convert 'Date' column to datetime format
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

# Filter data after 2018
df_after_2018 = df[df["Date"] > "2017-12-31"]

In [9]:
df_after_2018

,Station,Date,Time,Alk-Tot,Chl-a,Cl-Tot,DRP,EC,H-T,NH4N,...,TON,TRP,Ca-Dis,Fe-Dis,Mg-Dis,Na-Dis,Pb-Dis,SO4-Dis,Zn-Dis,Cluster
6,MEX01354,2018-04-17,NaN,NaN,0.08160,NaN,NaN,1083.0,NaN,NaN,...,11.157,0.713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
7,MEX01354,2018-06-19,NaN,NaN,0.01960,NaN,NaN,1148.0,NaN,NaN,...,4.813,0.776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
8,MEX01354,2018-11-06,NaN,NaN,0.00170,NaN,NaN,989.0,NaN,NaN,...,3.603,0.426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
9,MEX01354,2019-03-05,NaN,NaN,0.00210,NaN,NaN,1047.0,NaN,NaN,...,0.945,0.424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
10,MEX01354,2020-09-29,NaN,NaN,0.00520,NaN,NaN,1057.0,NaN,NaN,...,1.497,0.529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,MEX01370,2020-09-28,NaN,NaN,0.00487,NaN,NaN,568.0,NaN,NaN,...,7.039,0.539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
191,MEX01371,2018-04-16,NaN,NaN,0.01010,NaN,NaN,383.0,NaN,NaN,...,3.427,0.971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
192,MEX01371,2018-06-18,NaN,NaN,0.00040,NaN,NaN,158.0,NaN,NaN,...,2.017,0.579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
193,MEX01371,2018-11-05,NaN,NaN,0.00120,NaN,NaN,192.0,NaN,NaN,...,6.200,0.528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
194,MEX01371,2019-03-04,NaN,NaN,0.01460,NaN,NaN,709.0,NaN,NaN,...,2.069,0.336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393

In [7]:
df

,Station,Date,Time,Alk-Tot,Chl-a,Cl-Tot,DRP,EC,H-T,NH4N,...,TON,TRP,Ca-Dis,Fe-Dis,Mg-Dis,Na-Dis,Pb-Dis,SO4-Dis,Zn-Dis,Cluster
0,MEX01354,2015-06-10,NaN,NaN,0.0226,NaN,NaN,1017.0,NaN,NaN,...,11.200,0.390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
1,MEX01354,2015-10-27,NaN,NaN,0.1115,NaN,NaN,963.0,NaN,NaN,...,2.070,0.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
2,MEX01354,2016-06-07,NaN,NaN,0.0246,NaN,NaN,1083.0,NaN,NaN,...,2.164,0.760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
3,MEX01354,2016-10-04,NaN,NaN,0.0081,NaN,NaN,1010.0,NaN,NaN,...,5.275,0.130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
4,MEX01354,2017-03-02,NaN,NaN,0.0154,NaN,NaN,1044.0,NaN,NaN,...,2.158,0.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,MEX01371,2017-10-11,NaN,NaN,0.0078,NaN,NaN,239.0,NaN,NaN,...,3.850,0.590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
191,MEX01371,2018-04-16,NaN,NaN,0.0101,NaN,NaN,383.0,NaN,NaN,...,3.427,0.971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
192,MEX01371,2018-06-18,NaN,NaN,0.0004,NaN,NaN,158.0,NaN,NaN,...,2.017,0.579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
193,MEX01371,2018-11-05,NaN,NaN,0.0012,NaN,NaN,192.0,NaN,NaN,...,6.200,0.528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393
194,MEX01371,2019-03-04,NaN,NaN,0.0146,NaN,NaN,709.0,NaN,NaN,...,2.069,0.336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393